.pageTitle {
	font-size: 60px;
	color: white;
	margin-bottom: 20px;
	text-shadow: 0 3px 3px rgba(0,0,0,0.05);
}

.panel {
	background: white;
	padding: 20px;
	border-radius: 10px;
	margin-bottom: 20px;
	box-shadow: 0 3px 3px rgba(0,0,0,0.05);

	&:last-child {margin-bottom: 0}

	.innerPanel {
		padding: 10px;
		background: #f0f0f0;
		border-radius: 10px;
	}

	select, input {
		display: block;
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 16px;
		padding: 5px;
		border: 1px solid #a0a0a0;
		border-radius: 5px;
		outline: none;
	}

	label {
		display: block;
		margin-bottom: 5px;
	}

	.button {
		padding: 10px 20px;
		background: #e0e0e0;
		cursor: pointer;
		border-radius: 5px;
		font: inherit;
		border: 0 none;

		&:hover {background: #d8d8d8;}

		&.primary {
			background: #539ef5;
			color: white;

			&:hover {background: #4d89da  }
		}
	}
}